<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <body>
    <input type='hidden' id='userId' value='<%= userId %>' />
    <h1>LeanEngine</h1>
    <p>当前时间：<%= currentTime %></p>
  	<p><span><%= username %></span><span id="personalCenter"></span></p>
  	<p><a href="<%= actionUrl %>"><%= actionName %></a></p>
  </body>
</html>
