<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/personalCenter.js"></script>
  </head>
  <body>
    <h3>个人中心</h3>
	用户名：<%= username %>
	<br><br>
	姓名：<%= extraInfo.name %>
	<br><br>
	手机号码：<%= mobilePhone %>
	<br><br>
	性别：<%= extraInfo.gender %>
	<br><br>
	出生日期：<%= extraInfo.birthday %>
	<br><br>
	就读学校：<%= extraInfo.schoolName %>
  </body>
</html>
